﻿@{ 
    ViewData["Title"] = "Объём усеченного конуса";
    IgnoreBody();
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1>Объем усеченного конуса</h1>
    <div>
        <figure>
            <img src="~/img/usechennyj_konus1-300x246.png"/>
        </figure>
        <h1>V=1/3 PI * h * (r1^2 + r1*r2 + r2^2)</h1>

        <form action="" method="post">


            <p>Высота (h)</p>
            <input type="number" name="h" placeholder="Высота (h)" value="" /> <br />
            <p>Радиус нижнего основания (r1)</p>

            <input type="number" name="r1" placeholder="Радиус нижнего основания (r1)" value="" /><br />
            <p>Радиус верхнего основания (r2)</p>

            <input type="number" name="r2" placeholder="Радиус верхнего основания (r2)" value="" /><br />

            <button id="button" class="btn-danger" asp-area="" asp-controller="Konus" asp-action="KonusV">Рассчитать</button><br />



            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

</body>
</html>
